<div class="effect" [ngClass]="{open : !hamburger_val}" (click)="toggel()" *ngIf='!hamburger_val'>
</div>
<nav style="z-index: 2;">
    <div class="hamburger" (click)="toggels()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links" [ngClass]="{open : hamburger_val}">
        <!-- <ul class="nav-links"> -->
        <li (click)="toggels()"><a routerLink=''>About</a></li>
        <li (click)="toggels()"><a routerLink='contact'>Contact</a></li>
        <li (click)="toggels()"><a routerLink='projects'>Projects</a></li>
    </ul>
</nav>