<section class="site-banner custom">
    <div class="container">
        <div class="row">
            <div class="custom col-lg-6 col-md-12">
                <h1 class="about">Hey!!!</h1>
                <h1 class=" about text-uppercase">I am <b>Rajat</b></h1>
                <h4 class="text-uppercase about-2">Digital System Specialist at Infosys Ltd.</h4>
                <div class="site-buttons">
                    <div class="d-flex flex-row flex-wrap">
                        <a routerLink='contact'><button type="button"
                                class="btn btn btn-outline-success mr-4 text-uppercase">hire me</button></a>
                        <a href="../../assets/pdf/Resume-Rajat Sahu.pdf" target="_blank"><button type="button"
                                class="btn btn-outline-info text-uppercase">Get cv</button></a>
                        <!-- <a href={resume} download="resume.pdf">
                            <div className="sidebar__item sidebar__resume">
                                <img src={tie} alt="resume" className="sidebar__icon" />Download Resume
                            </div>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 banner-image">
                <img src="../../assets/images/banner-image.png" alt="banner-img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="../../assets/images/about-us.png" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2 class="text-uppercase pt-5 intro" >Let me introduce myself</h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                        Hey, my name is Rajat Sahu. Currently living in Lucknow U.P due to covid-19 pandemic.
                    </p>
                    <p class="para">
                        I am looking for new job opportunity as a <b>full stack developer.</b> I have worked in multiple
                        projects both as a front-end and a back-end developer.
                        I am well versed in <b>Angular and Node</b> with shallow knowledge in <b><i>React ,Flutter ,Java(core) and
                            AWS</i></b>
                    </p>
                </div>
                <a href="../../assets/pdf/Resume-Rajat Sahu.pdf" download="path"><button type="button" class="btn btn-outline-info text-uppercase">Download cv</button></a>
            </div>
        </div>
    </div>
</section>