<div class="conntainer">
    <div class="offset-2">
        <div class="col-10 row custom" style="border: 2px solid black; margin-top: 15vh; margin-bottom: 5vh;" >
            <div class="card col-md-4" *ngFor="let i of allprojects">
                <img class="card-img-top" src="../../assets/img/subscribe-bg.png" alt="Card image cap" style="width:100%;height:200px; margin-top: 10px;">
                <div class="card-body">
                    <h3 class="card-title"><b>Card title</b></h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>