<div class="container" style="margin-top: 20vh;">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img src="../../assets/img/contact.jpg" alt="banner-img" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12" style="margin-top: 10vh;">
            <h1 style="text-align: center;"> <b>Contact Form</b></h1>
            <div class="container">
                <mat-card style="border: solid 2px black;">
                    <form class="example-form" (ngSubmit)="submit(f)" #f='ngForm'>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Ex. Jhon" name="name" ngModel required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex. Jhon@mail.com" name="email" ngModel required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Message</mat-label>
                            <textarea matInput name="message" ngModel required></textarea>
                        </mat-form-field>
                        <div align="end">
                            <button type="submit" mat-raised-button color="warn"
                                style="align-items: flex-end;" [disabled]="!f.valid">Submit</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>